@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Lexand Deca', sans-serif;
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px
}

section{
    border: 1px solid auto;
    padding: 25px 19px;
    color: white;
}

img{
    padding: 5px;
}

.HEAD{
    padding: 20px 0;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
}

p{
    padding: 20px 10px 50px 3px;
}

.sedan{
    background: hsl(31, 77%, 52%);
}

.sedan > button {
    background: white;
    color: hsl(31, 77%, 52%);
    border: 1px solid white;
    border-radius: 25px 25px;
    padding: 8px 15px;
    margin-top: 15px;
}

.sedan > button:hover {
    background: hsl(31, 77%, 52%);
    color: white;
    border: 1px solid white;
    border-radius: 25px 25px;
    padding: 8px 15px;
    margin-top: 15px;
    cursor: pointer;
}

.suv{
    background: hsl(184, 100%, 22%);
}

.suv > button {
    background: white;
    color: hsl(184, 100%, 22%);
    border: 1px solid white;
    border-radius: 25px 25px;
    padding: 8px 15px;
    margin-top: 15px;
}

.suv > button:hover {
    background: hsl(184, 100%, 22%);
    color: white;
    border: 1px solid white;
    border-radius: 25px 25px;
    padding: 8px 15px;
    margin-top: 15px;
    cursor: pointer;
}

.luxury{
    background: hsl(179, 100%, 13%);
}

.luxury > button {
    background: white;
    color: hsl(179, 100%, 13%);
    border: 1px solid white;
    border-radius: 25px 25px;
    padding: 8px 15px;
    margin-top: 15px;
}

.luxury > button:hover {
    background: hsl(179, 100%, 13%);
    color: white;
    border: 1px solid white;
    border-radius: 25px 25px;
    padding: 8px 15px;
    margin-top: 15px;
    cursor: pointer;
}

header{
    text-align: center;
}

button{
    background: grey;
    padding: 10px;
}

a{
    text-decoration: none;
    color: beige;
}