@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Righteous&family=Viga&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #696969;
}

#active{
    background: #adff2f;
    padding: 5px;
    border-radius: 5px;
}

img{
  width: 100vw;
  height: 80vh;  
  position: inherit;
  float: left;
  padding: 0 8px;
}

li{
    position: relative;
    list-style: none;
    display: inline;
    font-family: 'Righteous';
}

span{
    font-family: 'courgette';
}

a{
    text-decoration: none;
    border: 1px solid auto;
}

li :hover{
    background-color: #fe7777;
    padding: 5px;
    border-radius: 15px;
    font-family: 'Trebuchet MS';
}

ol{
    text-align: center;
    font-size: 24px;
    word-spacing:40px;
    padding-top: 13px;
    vertical-align: middle;
}

#passport{
    padding-top: 15px;
    width: 200px;
    border-radius: 25px;
    height: 200px;
}

h1{
    text-align: center;
    position: relative;
    padding-top: 15px;
    font-family: 'Viga';
}

section{
    padding: 38px 0;
}

h3{
    padding: 10px 5px;
    font-family: 'Righteous';
}

#left{
    float: left;
}

#right{
    float: right;
}

.skill{
    text-align: left;
    padding: 5px 10px;
}
#skill{
    padding: 5px 10px;
    display: list-item;
}

.cert{
    text-align: right;
    padding: 5px 10px;
}
#cert{
    padding: 5px 10px;
    display: list-item;
    text-align: right;
}

@media only screen and (max-width: 960px) {
    body{
        width: 100%;
    }
    ol{
        word-spacing: 5px;
        font-size: 25px;
    }
}